---
// src/components/Hero.astro
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHubSocial.astro"; 
import LinkedInIcon from "../components/icons/LinkedInSocial.astro";
---

<section class="w-full lg:w-[740px] mx-auto py-20 md:py-36">
  <div class="grid md:grid-cols-2 gap-8 items-center">
    
    <!-- Left Column: Avatar and Social Links -->
    <div class="flex flex-col items-center text-center">
      <img
        class="rounded-full w-32 h-32 mb-4 object-cover"
        src="/lucascv2.jpg"
        alt="Foto de perfil de Lucas Gorini"
      />
      <div class="flex gap-4 mt-4">
        <SocialPill href="https://github.com/schenvz">
          <GitHubIcon class="w-6 h-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/lucas-gorini/">
          <LinkedInIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>
      </div>
    </div>

    <!-- Right Column: Text -->
    <div class="flex flex-col items-center md:items-start text-center md:text-left">
      <h1 class="main-title text-4xl md:text-5xl font-bold">Soy Lucas...</h1>
      
      <p class="hero-subtitle text-xl font-semibold mt-2 transition-colors duration-300">
        Desarrollador Frontend
      </p>
      <p class="hero-text mt-4 transition-colors duration-300">
        Con un fuerte enfoque en crear experiencias de usuario excepcionales a través de un código limpio y reactivo, y con una sólida comprensión de las tecnologías backend que le dan vida a cada proyecto.
      </p>
      <p class="hero-text mt-4 transition-colors duration-300">
        Actualmente iniciando mi formación como Desarrollador Full Stack para complementar mis conocimientos y construir aplicaciones web de punta a punta.
      </p>
      <p class="hero-text mt-4 transition-colors duration-300">
        Si tenés una idea, una necesidad o simplemente querés charlar de tech, estoy a un clic de distancia.
      </p>

    </div>
  </div>
</section>