---
export interface Props {
    name: string;
    colorClass?: string; // Prop opcional para la clase de color de Tailwind
}
const { name, colorClass = 'text-slate-300' } = Astro.props;
---
<div class="flex flex-col items-center justify-center gap-2 bg-slate-800/50 p-4 rounded-lg text-center hover:bg-slate-700/50 hover:-translate-y-1 hover:scale-105 transition-all duration-300 ease-in-out">
    <div class={`w-10 h-10 ${colorClass}`}>
        <slot />
    </div>
    <span class="font-semibold text-sm text-slate-300">{name}</span>
</div>