---
// src/components/SocialLink.astro
interface Props {
  href: string;
  "aria-label": string;
}
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-col items-center gap-2 text-sm text-slate-400 transition-colors duration-300 hover:text-sky-400 hover:scale-110"
  aria-label={Astro.props["aria-label"]}
>
  <slot />
</a>
