<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Astro</title><path d="M4.6,18.94l1.62-4.13L12,5.2l5.78,9.61,1.62,4.13H15.69l-.81-2.07H9.12l-.81,2.07H4.6Zm6.39-3.4h2L12,13.25Z" fill="currentColor"/></svg>
