<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Adobe Photoshop</title><path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22.5c-5.79 0-10.5-4.71-10.5-10.5S6.21 1.5 12 1.5s10.5 4.71 10.5 10.5S17.79 22.5 12 22.5zM9.5 8.25h-2v7.5h2v-7.5zm5 0h-2.5c-2 0-3.5 1.5-3.5 3.5s1.5 3.5 3.5 3.5h1v-2h-1c-.825 0-1.5-.675-1.5-1.5s.675-1.5 1.5-1.5h2.5v-2z" fill="currentColor"/></svg>

